
.layout {
    display: flex;
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--layout-bg);
}

.sidebar {
    width: 24rem;
    background-color: var(--sidebar-bg);
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/*@media screen and (max-width: 1024px) {
    .sidebar {
    position: fixed;
    background-color: var(--sidebar-bg);
    width: 16rem;
    }
}*/

input {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    word-break: normal;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.zm-header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    padding: 0 6rem 0 4rem;
    height: 8rem;
    left: 24rem;
    width: calc(100% - 24rem);
    z-index: 1;
    background-color: var(--layout-bg);
}

/*@media screen and (max-width: 1000px) {
  .zm-header {
    background-color: bisque;
  }
 .input-wrapper input  {
    width: 20rem;
    background-color: aqua;
  }
}*/
.zm-header .level {
    display: flex;
    position: relative;
    height: 4rem;
    width: 100%;
    align-items: center;
}

.level-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.zm-btn {
    border: 0;
    color: #595462;
    font-size: 3rem;
    margin: 0 1rem;
    background-color: var(--layout-bg);
}

.search-content button {
    position: relative;
    font-size: 2rem;
    color: var(--white);
    height: 0;
    top: 1rem;
}

.search-content {
    display: flex;
    position: relative;
    border-radius: 2rem;
    height: 4rem;
    background-color: var(--alpha-bg);

}

.input-wrapper input {
    display: inline-block;
    width: 33rem;
    font-size: 1.4rem;
    position: relative;
    padding: 1rem 0 1rem 1rem;
    border: none;
}

input .form-search {
    color: var(--white);
}

.level-right {
    display: flex;
    min-width: 30rem;
    height: 4rem;
    position: relative;
    margin-left: 1rem;
}


.download {
    background-color: var(--alpha-bg);
    border-radius: 2rem;
    position: relative;
}

.btn-download {
    color: var(--purple-primary);
    font-size: 2rem;
    display: flex;
    margin: 1rem;
    height: 0;
}

.container {
    position: absolute;
    width: calc(100% - 24rem);
    height: 100vh;
    left: 24rem;
    top: 0;
}

main.section {
    position: absolute;
    inset: 0px;
    overflow: hidden scroll;
    padding: 0 4rem;

}

main.section>.contents {
    margin-top: 8rem;
    height: 100vh;
}


.gallery-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.gallery-wrapper img {
    border-radius: 1rem;
}

.image-zc {
    width: 20rem;
    margin: 0;
}

.zm-card-content .title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3rem;
    color: var(--white);
    margin-left: 2rem;
}

.new-release .genre-select .zm-btn {
    padding: 4px 2.4rem;
    border: 1px solid var(--border-primary);
    border-radius: 10rem;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--white);
}

.new-release .genre-select .zm-btn.active {
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
}

.column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.media-song {
    display: flex;
    padding: 1rem 0;
}

.song-img {
    width: 8rem;
    margin-right: 1rem;
}

.list {
    width: 100%;
    padding: 0 2rem;
}

.title-wrapper {
    font-weight: 600;
}

.link,
.time-release {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-secondary);
}
.gallery,
.zm-chart,
.new-release,
.zm-chill,
.zm-energy,
.zm-popular,
.bxh-new-music,
.radio {
    margin-top: 4rem;
}

.zm-section-title {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.zm-chill-wrapper {
    display: flex;
    width: 100%;

}

img {
    width: 100%;
    border-radius: 1rem;
}

.zm-card {
    width: 100%;
    padding: 0 1rem;
}

.zm-card-content h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
}

.zm-energy-wrapper {
    display: flex;
    width: 100%;
}

.zm-popular-wrapper {
    display: flex;
    width: 100%;
}

.bxh-wrapper {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .bxh-wrapper {
        width: 100%;
    }
}

.bxh-wrapper .media {
    width: 100%;
    background-color: var(--box-item-bg);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.media-song .right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order {
    opacity: 0.5;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    position: relative;
}

.release-date {
    position: relative;
    left: 4rem;
    color: var(--text-secondary);
}

.radio-wrapper {
    display: flex;
    width: 100%;
}

.radio-content {
    padding: 1rem;
    position: relative;
}

.top-content .zm-card-image {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 16rem;
}

.label {
    position: relative;
    left: 8rem;
    width: 6rem;
    bottom: 2rem;
}

.bottom-content {
    text-align: center;
    position: relative;
}

.music-partner {
    margin-top: 6rem;
    padding: 0 4rem;
}

.music-partner .title {
    text-align: center;
}

.partner-wrapper {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.zm-partner-item {
    border-radius: 2rem;
    overflow: hidden;
    width: 20rem;
    padding: 0 1rem;
    margin-bottom: 4rem;
}

.zm-partner-item .partner-content {
    position: relative;
    height: 0;
    padding-bottom: 12rem;
}

.zm-partner {
    width: 20rem;
}

@media screen and (min-width: 1024px) and (max-width: 1228px) {
    .zm-partner {
        width: 20rem;
    }
}

.zm-partner-item .image {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.nav-logo {
    width: 24rem;
    height: 8rem;
    position: fixed;
    top: 0;
    display: flex;
    text-align: center;
    padding-left: 4rem;
}

.nav-logo button {
    display: inline-block;
    background-color: var(--sidebar-bg);
    border: 0;

}

.zm-logo {
    width: 10rem;
    height: 4rem;
    display: inline-block;
    background: var(--img-logo-mp3) 50%/contain no-repeat;
}

.nav-main {
    line-height: 5rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;
    left: 1rem;
}

ul {
    list-style: none;
}

.sidebar-divide {
    position: relative;
    height: 2px;
}

.sidebar-divide:after {
    content: "";
    border-top: 1px solid var(--border-primary);
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 0;
}

.navbar-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.login-nav {
    background-color: var(--purple-primary);
    color: var(--white);
    padding: 1rem 1rem;
    margin: 1rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.login-btn {
    padding: 5px 4rem;
    font-weight: 600;
    color: var(--white);
    border-radius: 6rem;
    border: 1px solid var(--white);
    background-color: var(--sidebar-bg);
}

div.playlist-sidebar button {
    background-color: hsla(0, 0%, 100%, 0.01);
    display: flex;
    align-items: center;
    position: fixed;
    left: -1rem;
    width: 24rem;
    height: 8rem;
    font-size: 1.6rem;
    border-top: 2px solid var(--border-primary);
    padding: 3rem 4rem;
    color: var(--white);
    border: 0;
}
.zm-player {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.now-playing {
    position: fixed;
    width: 100%;
    bottom: 0;
    user-select: none;
    background-color: var(--layout-bg);
    height: 8rem;
}

.player-control {
    display: flex;
    height: 8rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 2rem;
}
 
.player-control-left .media {
    width: 100%;
    align-items: center;
    display: flex;
    text-align: left;
}
.player-control-left {
    width: 85rem;
}

.player-control-left .media-song {
    padding: 0;
}

.player-control-left .media-song .right {
    justify-content: center;
    
} 

.icon-left {
    margin-left: 2rem;
    display: flex;
}

.level-center {
width: 100%;
padding-top: 1rem;
}

.level-center .button {
    color: var(--white);
}

.level-center .zm-duration-bar {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.level-item .zm-duration-bar .zm-slider-bar {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    align-self: center
}



.level-item {
    display: flex;
    justify-content: center;
}


.player-control-right {
    justify-content: end;
    align-items: center;
    top: 2rem;
}

 .player-control-right .button, .player-control-left .button {
   color: var(--white);
    font-size: 1.5rem;
}