.layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 8rem);
  background-color: var(--layout-bg);
}

.sidebar {
  width: 24rem;
  background-color: var(--sidebar-bg);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-logo {
  width: 24rem;
  height: 8rem;
  position: fixed;
  top: 0;
  display: flex;
  text-align: center;
  padding: 0 3rem;
}

.nav-logo button {
  display: inline-block;
  background-color: var(--sidebar-bg);
  border: 0;
  height: 0;
}

.zm-logo {
  width: 12rem;
  height: 7rem;
  display: inline-block;
  background: var(--img-logo-mp3) 50% / contain no-repeat;
}

.nav-main {
  position: relative;
  margin-bottom: 1.6rem;
}

.nav-main a {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 1.4rem 2rem;
  color: rgb(218, 218, 218);
  letter-spacing: 1px;
  font-size: 1.4rem;
  position: relative;
  letter-spacing: normal;
}

.nav-item a:hover,
.title-top:hover,
.discovery-btn:hover {
  text-decoration: none;
}

.nav-item a .label {
  position: absolute;
  bottom: 1.2rem;
  left: 9.5rem;
  width: initial;
}

.nav-item img {
  border-radius: 0;
}

.nav-menu i {
  margin-right: 1.2rem;
  font-size: 2rem;
}

.nav-item:hover {
  background-color: var(--alpha-bg);
  font-weight: 600;
  border-left: 2px solid var(--purple-primary);
  cursor: pointer;
  color: var(--white);
}

.nav-item a:hover {
  color: var(--white);
}

.sidebar-divide {
  position: relative;
  height: 2px;
}

.sidebar-divide:after {
  content: "";
  border-top: 1px solid var(--border-primary);
  position: absolute;
  left: 2.5rem;
  right: 2.5rem;
  top: 0;
}

.navbar-main {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 1.6rem;
}

.login-nav {
  background-color: var(--purple-primary);
  color: var(--white);
  padding: 1.6rem 1rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
}

.text {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.login-btn {
  padding: 6px 3.5rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 6rem;
  border: 1px solid var(--white);
  background-color: var(--sidebar-bg);
  font-size: 1.4rem;
}

div.playlist-sidebar button {
  background-color: hsla(0, 0%, 100%, 0.01);
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--white);
  border: 0;
  bottom: 8rem;
  position: fixed;
  width: 24rem;
  left: 0;
  height: 6rem;
  border-top: 1px solid var(--border-primary);
  padding: 0 3rem;
  border-radius: 0;
  font-weight: 300;
  margin: 0;
}

.playlist-sidebar span {
  margin-left: 1rem;
}

.zm-header {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  padding: 0 8rem 0 6rem;
  height: 8rem;
  left: 24rem;
  width: calc(100% - 24rem);
  z-index: 1;
  background-color: var(--layout-bg);
}

.zm-btn {
  border: 0;
  color: #595462;
  font-size: 2.4rem;
  margin: 0 1rem;
  background-color: var(--layout-bg);
}

.zm-header .level {
  display: flex;
  position: relative;
  height: 4rem;
  width: 100%;
  align-items: center;
}

.level-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.search {
  position: relative;
  width: 100%;
  max-width: 40rem;
}

.search-content {
  display: flex;
  position: relative;
  border-radius: 2rem;
  height: 4rem;
  background-color: var(--alpha-bg);
}

input::placeholder {
  color: rgb(218, 218, 218);
}

.input-wrapper {
  position: absolute;
  top: 0;
  left: 3.8rem;
  right: 1rem;
  bottom: 0;
}

.input-wrapper input {
  margin: 0;
  display: inline-block;
  width: 100%;
  color: var(--search-text);
  border: 0;
  position: relative;
  top: 2px;
  height: 3.4rem;
  padding: 5px 0;
  background-color: transparent;
  font-size: 1.4rem;
  outline: none;
}

.search-content button {
  position: relative;
  font-size: 2rem;
  color: var(--white);
  height: 0;
  top: 1rem;
}

.level-right {
  display: flex;
  min-width: 30rem;
  height: 4rem;
  position: relative;
  margin-left: 1rem;
  justify-content: space-between;
}

.download {
  background-color: var(--alpha-bg);
  border-radius: 2rem;
  position: relative;
}

.btn-download {
  display: flex;
  padding: 1rem 2.4rem;
  align-items: center;
  color: var(--link-text-hover);
}

.btn-download:hover {
  color: var(--purple-primary);
  cursor: pointer;
  text-decoration: none;
}

.setting-item .zm-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--alpha-bg);
  border-radius: 2rem;
  margin: 0;
  color: var(--white);
}

.setting-item {
  position: relative;
}

.tooltip {
  position: absolute;
  width: 8rem;
  background-color: gray;
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  font-size: 1rem;
  bottom: 5rem;
  visibility: hidden;
}

.level-item:hover .tooltip {
  visibility: visible;
}

.setting-item .tooltip-text {
  position: absolute;
  width: 6rem;
  background-color: gray;
  color: var(--white);
  text-align: center;
  border-radius: 6px;
  padding: 6px 0;
  font-size: 1rem;
  visibility: hidden;
}

.setting-item:hover .tooltip-text {
  visibility: visible;
}

.zm-btn:hover {
  cursor: pointer;
}

.user-setting .zm-btn {
  width: 4rem;
  height: 4rem;
  display: flex;
  margin: 0;
}

.user-setting img {
  border-radius: 2rem;
  width: 100%;
}

.container {
  position: absolute;
  width: calc(100% - 24rem);
  height: 100vh;
  left: 24rem;
  top: 0;
}

main.section {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  padding: 0 6rem;
}

main.section>.contents {
  margin-top: 12rem;
  height: 100vh;
}

.radio-content {
  padding: 0 1rem;
}

.container .zm-section-title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-page {
  margin-bottom: 1rem;
  color: var(--white);
  font-weight: 700;
  font-size: 4rem;
}

.top-content {
  position: relative;
}

.top-content .label {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.bottom-content {
  margin-top: 2rem;
  text-align: center;
}

.bottom-content .title {
  font-weight: 600;
}

.bottom-content .subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.33;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.radio-content .zm-card-image img,
.radio-content .zm-card-image {
  display: block;
  border-radius: 50%;
}

.zm-discover {
  display: flex;
  width: 100%;
}

.zm-discover-content {
  display: flex;
  margin: 0 -1rem;
}

.zm-card {
  width: 100%;
  padding: 0 1rem;
}

.card-content {
  margin-bottom: 0;
  margin-top: 8px;
}

.zm-card-content .title a {
  font-size: 1.4rem;
  font-weight: 600;
}

.zm-card-content .title a:hover {
  text-decoration: none;
}

.zm-card .zm-card-image img,
.song-thumb img {
  display: block;
  border-radius: 4px;
}

.radio-schedule .schedule-body {
  display: flex;
  border-radius: 8px 8px 0 0;
}

.schedule-body .left-col .header {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.8rem;
  letter-spacing: 1px;
  padding-left: 1rem;
  white-space: nowrap;
}
.schedule-body .left-col .body {
background-color: var(--alpha-bg);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.schedule-body .left-col .zm-card {
  height: 8rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.schedule-body .left-col .third {
  margin-bottom: 0;
}

.schedule-body .left-col .zm-card .content {
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.schedule-body .left-col .image {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
}

.schedule-body .left-col .zm-card .content .action {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: var(--dark-alpha-50);
  border-radius: 50%;
  display: none;
}

.schedule-body .left-col .zm-card .content .action .zm-btn {
    position: absolute;
    top: 30%;
    left: 26%;
}

.schedule-body .left-col .zm-card .content:hover {
  cursor: pointer;
}

.schedule-body .left-col .zm-card .content:hover .action {
  display: block;
}

.schedule-body .left-col .zm-card .content:hover .action-play {
  visibility: visible;
}

.radio-schedule .schedule-body .content-col {
  flex: 1 1;
  position: relative;
  width: calc(100% - 120px);
  overflow: hidden;
}

.radio-schedule .schedule-body .content-col .row {
  display: flex;
  flex-direction: column;
}

.radio-schedule .schedule-body .content-col .programs {
  height: 8rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
}

.radio-schedule .schedule-body .content-col .time-line {
  display: flex;
  align-items: center;
  height: 3.8rem;
}

.radio-schedule .line {
  position: absolute;
  left: 30rem;
  top: 1rem;
  bottom: 0;
  width: 2px;
  background-color: #66ffc4
}

.radio-schedule .line .marker {
  position: absolute;
  width: 6rem;
  background-color: #66ffc4;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--black);
  text-align: center;
  border-radius: 4px;
  letter-spacing: 1px;
  left: -3rem;
}

.radio-schedule .line:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: -9px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #66ffc4;
}

.radio-schedule .schedule-body .content-col .program-item {
  position: absolute;
  height: 8rem;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--alpha-bg);
  margin-left: 8px;
  overflow: hidden;
}

.radio-schedule .schedule-body .content-col .program-item .image {
  width: 6.4rem;
  height: 6.4rem;
  overflow: hidden;
  border-radius: 4px;
}

.radio-schedule .schedule-body .content-col .program-item .media-content {
  height: 100%;
}

.content-col .program-item .media-content .title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.zm-category {
  display: flex;
  width: 100%;
}

.zm-category-content {
  display: flex;
  margin: 0 -1rem;
}

.bxh-zm-content {
  display: flex;
  margin: 0 -1rem;
}

.column-bxh {
  padding: 0 1rem;
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
}

.modal {
  width: 52rem;
  height: 40rem;
  background-color: #34224f;
  position: absolute;
  /*left: 28rem;*/
  border-radius: 8px;
  top: 26rem;
  display: none;
}

.description a:hover .modal {
display: block;
}

.modal-content {
  margin: 2rem;
  padding: 4px;
}

.modal-content .header {
  position: relative;
  margin: -2.4rem -2.4rem 0;
}

.blur-container {
  border-radius: 8px 8px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.modal-content .blur {
  background-image: url(https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/images/4/4/d/b/44dbb392a496968421371bb0c608ad3d.jpg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  filter: blur(120px);
}

.modal-content .media {
  border-radius: 8px 8px 0 0;
  position: relative;
  z-index: 2;
  padding: 24px 24px 4px;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #34224f);
}


.modal-content .media-left .image {
  height: 13rem;
  width: 13rem;
  border-radius: 8px;
  overflow: hidden;
}

.modal-content .header .media-left {
  flex-grow: 0;
}

.modal-content .media-content .title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: normal;
  line-height: 1.2;
  text-transform: none;
}

.modal-content .media-content .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
}

.modal-content .media-content .actions {
  margin-top: 1.2rem;
  display: flex
}

.modal-content .media-content .actions .zm-btn {
  margin-right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
}

.actions .is-outlined {
  background-color: var(--purple-primary);
  color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  border: 0;
  border-radius: 2rem;
  width: 12rem;
  height: 3.2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.actions .is-outlined:hover {
  background-color: #9b4de0cd;
  cursor: pointer;
}


.release-date {
  display: flex;
  margin-top: 1.2rem;
}

.modal-content .description-zm {
  margin-top: 1.2rem;
}

.description-zm .title {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.description-zm .content {
  font-size: 1.4rem;
  color: var(--text-secondary);
  font-weight: 500;
  line-height: 1.8rem;
}

.btn-all {
  margin-top: 2.4rem;
  text-align: center;
}

.btn-all .is-outlined {
    font-weight: 500;
    background-color: var(--alpha-bg);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);
    padding: 8px 1.6rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.btn-all .is-outlined:hover {
cursor: pointer;  
background-color: var(--sidebar-bg);
}

.media {
  align-items: center;
  display: flex;
  text-align: left;
  border-radius: 5px;
  padding: 1.2rem;
  position: relative;
}

.media-left {
  display: flex;
  align-items: center;
}

.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.list .media-left {
  flex-grow: 1;
  flex-shrink: 1;
}

.list .media-left .ranking {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-primary);
  margin: auto 1.2rem auto 0;
}

.media-left .song-thumb {
  margin-right: 1.2rem;
  border-radius: 6px;
  position: relative;
}

.list .image {
  width: 6rem;
  height: 6rem;
}

.media-left .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.media-left .title-wrapper {
  max-width: 100%;
}

.card-info .title {
  font-size: 1.4rem;
  white-space: nowrap;
}

.card-info .subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 2px 0;
}

.card-info .time {
  display: flex;
  align-items: center;
}

.subtitle a:hover {
  text-decoration: none;
}

.list:hover {
  cursor: pointer;
  background-color: var(--alpha-bg);
}

.list:hover .action-play,
.list:hover .media-right {
  visibility: visible;
}

.media-right .zm-btn {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0;
  background-color: var(--alpha-bg);
  color: var(--white);
  font-size: 1.4rem;
  margin-right: 4px;
}

.media-right {
  position: absolute;
  display: inline-flex;
  left: 80%;
  bottom: 0;
  visibility: hidden;
}

.hot-episode {
  padding: 8px 0;
  background-color: var(--alpha-bg);
  border-radius: 12px;
}

.card-other .title {
  white-space: nowrap;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
}

.media-right .other-wrapper {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid var(--sidebar-bg);
}

.other .is-40x40 {
  width: 4rem;
  height: 4rem;
}

.description {
  font-size: 1.3rem;
  margin-top: 1.2rem;
  position: relative;
}

.description a {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.description a:hover {
  color: var(--white);
}

.list-menu {
  font-size: 1.4rem;
  color: rgb(218, 218, 218);
}

.file-column {
  display: flex;
  margin: 0 -1rem;
  width: 100%;
}

.column-list {
  padding: 0 1rem;
  width: 100%;
}

.column-list .media {
  padding: 1rem;
}

.column-list .list:hover {
  border-radius: 4px;
}

.program-content {
  display: flex;
  margin: 0 -1rem;
}

.program-item {
  padding: 0 1rem;
  width: 100%;
}

.program-item a:hover {
  text-decoration: none;
}

.pr-podcast-item img {
  height: 12rem;
  width: 12rem;
  border-radius: 6px;
  overflow: hidden;
  display: block;
}

.pr-podcast-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.6rem;
  border-radius: 1.2rem;
  overflow: hidden;
}

.pr-podcast-item .cover {
  background-image: url(https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/cover/9/0/c/1/90c1a3da3e6612bd51cc6d0a145f91d2.jpg);
  filter: blur(50px);
}

.pr-podcast-item .covers {
  background-image: url(https://photo-resize-zmp3.zmdcdn.me/w320_r1x1_webp/avatars/f/6/d/7/f6d788fdf5d8ef5913ea2bc2e514a083.jpg);
  filter: blur(50px);
}

.pr-podcast-item .opac {
  background-color: rgba(0, 0, 0, 0.2);
}

.pr-podcast-item .cover,
.pr-podcast-item .covers,
.pr-podcast-item .opac {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pr-podcast-item .media-left {
  margin-right: 2rem;
}

.media .subtitle,
.media .title,
.media .title a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  line-height: normal;
}

.media-content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: 0;
}

.pr-podcast-item .media-content {
  position: relative;
  color: var(--white);
}

.pr-podcast-item .media-content .host {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(254, 255, 255, 0.8);
  margin-bottom: 2px;
}

.pr-podcast-item .media-content .title {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;
}

.pr-podcast-item .media-content .subtitle {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.43;
  color: rgba(254, 255, 255, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

.is-50x50 {
  width: 5rem;
  height: 5rem;
}

.media-header {
  padding: 0 0 2rem;
}

.media-left {
  margin-right: 1rem;
}

.media-header .subtitle {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-top: 3px;
}

.media-header .title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 5px 0 0;
  color: var(--white);
}

.media-header a:hover {
  text-decoration: none;
}

.zing-podcast-content,
.viet-podcast-content {
  display: flex;
  width: 100%;
  margin: 0 -1rem;
}

.zm-podcast-item .zm-card-content .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 8px;
}

.zm-card-image {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.image img {
  max-width: 100%;
  transition: all 1s;
  transform: scale(1);
}

.zm-card-image:hover img {
  transform: scale(1.2);
}

.zm-card-image:hover .action-play {
  visibility: visible;
}

.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-alpha-50);
  visibility: hidden;
}

.zm-actions-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.zm-actions {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  width: 80%;
  height: 2rem;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.action-play {
  color: var(--white);
  height: 0;
  visibility: hidden;
  font-size: 2rem;
}

.other-item {
  position: relative;
}

.other {
  width: 28rem;
  background-color: #34224f;
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  z-index: 3;
  border-radius: 1rem;
  display: none;
}

.other-item:focus .other {
  display: block;
}

.other-item:focus-within .other {
  display: block;
}

.other-wrapper {
  padding: 1rem 1.4rem 0;
}

.song-other {
  display: flex;
  width: 100%;
  position: relative;
}

.card-other {
  margin-left: 1rem;
}

.btn-other {
  border: 0;
  color: var(--text-secondary);
  background-color: #34224f;
}

.btn-other i {
  color: var(--text-secondary);
  font-size: 1.4rem;
}

.center-content .btn-other i {
  color: rgb(255, 255, 255);
}

.center-button {
  border-radius: 1rem;
  margin-top: 1rem;
  background-color: var(--alpha-bg);
}

.center-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.center-content .btn-other {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 10px;
  max-width: 8rem;
  line-height: 1.4rem;
  color: rgb(255, 255, 255);
  background-color: inherit;
  cursor: pointer;
}

.center-content .btn-other:hover {
  background-color: var(--alpha-bg);
}

.main {
  margin-top: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: rgb(218, 218, 218);
}

.li-item {
  list-style: none;
  padding: 8px 1.4rem;
}

.li-item i {
  margin-right: 1rem;
  color: rgb(218, 218, 218);
  font-size: 1.4rem;
}

.li-item:hover {
  background-color: var(--alpha-bg);
  cursor: pointer;
}

.end-other {
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.3rem;
  margin: 6px 0 1.2rem;
  letter-spacing: 0;
}

.is-40x40 {
  width: 4rem;
  height: 4rem;
}

.avatar {
  width: 5rem;
  position: relative;
}

.avatar img {
  border-radius: 50%;
}

.hero-body {
  display: flex;
  width: 100%;
  padding: 1rem 1rem 0;
}

.new-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
}

.information {
  font-size: 1.2rem;
  margin-left: 1rem;
  flex-grow: 1;
}

.follow {
  display: inline-block;
  margin-top: 5px;
  color: var(--text-secondary);
}

.follow-btn {
  padding: 4px 8px;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: #34224f;
  color: var(--white);
  font-size: 1.2rem;
}

.bottom i {
  margin-right: 1rem;
  color: var(--white);
}

.title-hover {
  width: 22rem;
  background-color: #34224f;
  position: absolute;
  right: 26rem;
  z-index: 3;
  border-radius: 1rem;
  padding: 2rem 1.4rem;
  display: none;
}

.song-other:hover .title-hover {
  display: unset;
}

.title-hover .li-item-tt {
  padding: 4px 0;
  list-style: none;
}

.title-hover .title-wrapper {
  font-size: 1.2rem;
  color: var(--text-secondary);
}

.title-hover a {
  font-size: 1.4rem;
  color: var(--white);
}

.title-hover a:hover {
  text-decoration: none;
}

.li-share {
  position: relative;
}

.li-share:hover .share {
  display: unset;
}

.share {
  width: 22rem;
  background-color: #34224f;
  position: absolute;
  bottom: 0;
  right: 27rem;
  z-index: 3;
  border-radius: 1rem;
  padding: 1rem 0;
  display: none;
}

.zm-player {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.now-playing {
  position: fixed;
  width: 100%;
  bottom: 0;
  user-select: none;
  background-color: var(--layout-bg);
  height: 8rem;
}

.player-control {
  display: flex;
  height: 8rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0 2rem;
}

.player-control-left .media-control {
  width: 100%;
  align-items: center;
  display: flex;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  position: relative;
}

.player-control-left .media-song {
  display: flex;
  padding: 0;
}

.player-control-left .song-img {
  width: 6rem;
  margin-right: 1rem;
  position: relative;
}

.player-control-left .right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 2rem;
  font-size: 1.4rem;
}

.player-control-left .media-song .right {
  justify-content: center;
}

.player-control-left img {
  width: 100%;
}

.player-control-left {
  width: 85rem;
}

.icon-left {
  margin-left: 2rem;
  display: flex;
}

.level-center {
  width: 100%;
  padding-top: 1rem;
}

.level-item .left {
  text-align: right;
  margin-right: 10px;
}

.level-item .right {
  margin-left: 10px;
}

.level-item .time {
  min-width: 4rem;
  font-size: 1.4rem;
  color: var(--player-text);
  font-weight: 500;
}

.level-center .button {
  color: var(--white);
}

.bar {
  display: flex;
  width: 100%;
  justify-content: center;
}

.level-center .zm-duration-bar {
  width: 100%;
  cursor: pointer;
  position: relative;
  height: 3px;
  background-color: var(--alpha-bg);
  top: 6px;
  border-radius: 5px;
}

@keyframes changewidth {
  from {
    width: 1%;
  }

  to {
    width: 100%;
  }
}

.level-item .zm-duration-bar .zm-slider-bar {
  width: 25%;
  height: 3px;
  background-color: var(--white);
  animation-duration: 10s;
  animation-name: changewidth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.zm-duration-bar:hover {
  height: 5px;
}

.zm-duration-bar:hover .zm-slider-handle {
  visibility: visible;
}

.zm-duration-bar:hover .zm-slider-bar {
  height: 5px;
}

.zm-slider-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  left: 25%;
  top: 25%;
  transform: translate(-25%, -25%);
  border-radius: 50%;
  visibility: hidden;
}

.level-item {
  display: flex;
  justify-content: center;
  position: relative;
}

.player-control-right {
  justify-content: end;
  align-items: center;
  top: 2rem;
}

.player-control-right .divide {
  height: 3rem;
  width: 2px;
  background-color: var(--border-player);
  margin: 0 2rem;
}

.player-control-right .button,
.player-control-left .button {
  font-size: 1.6rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin: 0;
  border-radius: 50%;
}

.player-control-right .button:hover,
.player-control-left .button:hover {
  background-color: var(--alpha-bg);
}