.layout {
    display: flex;
    width: 100%;
    height: calc(100vh - 8rem);
    background-color: var(--layout-bg);
}

.sidebar {
    width: 24rem;
    background-color: var(--sidebar-bg);
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-logo {
    width: 24rem;
    height: 8rem;
    position: fixed;
    top: 0;
    display: flex;
    text-align: center;
    padding: 0 3rem;
}

.nav-logo button {
    display: inline-block;
    background-color: var(--sidebar-bg);
    border: 0;
    height: 0;
}

.zm-logo {
    width: 12rem;
    height: 8rem;
    display: inline-block;
    background: var(--img-logo-mp3) 50%/contain no-repeat;
}

.nav-main {
    position: relative;
    margin-bottom: 2rem;
}

.nav-main a {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 1.4rem 2rem;
    color: rgb(218, 218, 218);
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.nav-item a:hover,
.title-top:hover,
.discovery-btn:hover {
    text-decoration: none;
}

.nav-item a .label {
    position: absolute;
    top: 58%;
    left: 40%;
    width: initial;
}

.nav-item img {
    border-radius: 0;
}

.nav-menu i {
    margin-right: 1.2rem;
    font-size: 1.5rem;
}

.nav-item:hover {
    background-color: var(--alpha-bg);
    font-weight: 600;
    border-left: 2px solid var(--purple-primary);
    cursor: pointer;
    color: var(--white);
}

.nav-item a:hover {
    color: var(--white);
}

.sidebar-divide {
    position: relative;
    height: 2px;
}

.sidebar-divide:after {
    content: "";
    border-top: 1px solid var(--border-primary);
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 0;
}

.navbar-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.login-nav {
    background-color: var(--purple-primary);
    color: var(--white);
    padding: 2rem 1rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    text-align: center;
}

.text {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.login-btn {
    padding: 5px 4rem;
    font-weight: 600;
    color: var(--white);
    border-radius: 6rem;
    border: 1px solid var(--white);
    background-color: var(--sidebar-bg);
    font-size: 1.4rem;
}

div.playlist-sidebar button {
    background-color: hsla(0, 0%, 100%, 0.01);
    display: flex;
    align-items: center;
    position: fixed;
    left: -1rem;
    width: 24rem;
    height: 8rem;
    font-size: 1.6rem;
    border-top: 2px solid var(--border-primary);
    padding: 3rem 4rem;
    color: var(--white);
    border: 0;
}

.zm-header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    padding: 0 8rem 0 6rem;
    height: 8rem;
    left: 24rem;
    width: calc(100% - 24rem);
    z-index: 1;
    background-color: var(--layout-bg);
}

.zm-btn {
    border: 0;
    color: #595462;
    font-size: 2.5rem;
    margin: 0 1rem;
    background-color: var(--layout-bg);
}

.level .zm-btn {
    margin-right: 2rem;
}

.zm-header .level {
    display: flex;
    position: relative;
    height: 4rem;
    width: 100%;
    align-items: center;
}

.level-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.search {
    position: relative;
    width: 100%;
    max-width: 40rem;
}

.search-content {
    display: flex;
    position: relative;
    border-radius: 2rem;
    height: 4rem;
    background-color: var(--alpha-bg);
}

input::placeholder {
    color: rgb(218, 218, 218);
}

.input-wrapper {
    position: absolute;
    top: 0;
    left: 3.8rem;
    right: 1rem;
    bottom: 0;
}

.input-wrapper input {
    margin: 0;
    display: inline-block;
    width: 100%;
    color: var(--search-text);
    border: 0;
    position: relative;
    top: 2px;
    height: 3.4rem;
    padding: 5px 0;
    background-color: transparent;
    font-size: inherit;
}

.search-content button {
    position: relative;
    font-size: 2rem;
    color: var(--white);
    height: 0;
    top: 1rem;
}

.level-right {
    display: flex;
    min-width: 30rem;
    height: 4rem;
    position: relative;
    margin-left: 1rem;
    justify-content: space-between;
}

.download {
    background-color: var(--alpha-bg);
    border-radius: 2rem;
    position: relative;
}

.btn-download {
    display: flex;
    padding: 1rem 2.4rem;
    align-items: center;
    color: var(--link-text-hover);
}

.btn-download:hover {
    color: var(--purple-primary);
    cursor: pointer;
    text-decoration: none;
}

.setting-item .zm-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--alpha-bg);
    border-radius: 2rem;
    margin: 0;
    color: var(--white);
}

.zm-btn:hover {
    cursor: pointer;
}

.user-setting .zm-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    margin: 0;
}

.user-setting img {
    border-radius: 2rem;
    width: 100%;
}

.container {
    position: absolute;
    width: calc(100% - 24rem);
    height: 100vh;
    left: 24rem;
    top: 0;
}

main.section {
    position: absolute;
    inset: 0px;
    overflow: hidden scroll;
    padding: 0 6rem;
}

main.section>.contents {
    margin-top: 12rem;
    height: 100vh;
}

.section-header {
    margin-bottom: 4rem;
    position: relative;
}

.chart-title {
    display: flex;
    align-items: center;
}

.chart-title .title {
    background: linear-gradient(to right, #ff9357 1.54%, #9100ff 98.71%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 4rem;
}

.chart-title .zm-btn {
    height: 4rem;
    border-radius: 2rem;
    margin-left: 1.4rem;
}

.list,
.chart-song-item {
    border-bottom: 1px solid var(--sidebar-bg);
}

.media {
    align-items: center;
    display: flex;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
}

.media-left {
    display: flex;
    width: 50%;
}

.media-left,
.media-right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.prefix-chart-promote {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prefix-chart-promote>span {
    text-align: center;
    width: 80px;
    color: var(--text-secondary);
}

.media-left .song-thumb {
    margin-right: 10px;
    flex-shrink: 0;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer
}

.is-40x40 {
    width: 4rem;
    height: 4rem;
}

img {
    width: 100%;
    height: auto;
}

h3 a {
    font-size: 1.2rem;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    align-self: center;
    width: 0;
}

.album-info {
    color: var(--text-secondary);
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.card-info, .item-title, .title-wrapper {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-info:hover {
    color: var(--purple-primary);
    text-decoration: underline;
}

.media-right {
    margin-left: 1rem;
}

.items .button {
    line-height: 0;
    padding: 6px;
    margin: 0 4px;
    background-color: var(--alpha-bg);
    border-radius: 2rem;
}

.level {
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: none;
}

.items i {
    font-size: 1.2rem;
    padding: 5px;
    color: var(--white);
}

.action-items .duration {
    font-size: 12px;
    color: var(--text-secondary);
}

.media:hover {
    background-color: var(--alpha-bg);
}

.media:hover .items {
    display: unset;
}

.media:hover .duration {
    display: none;
}

.media:hover .opacity,
.media:hover .action-play {
    visibility: visible;
}

.opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-alpha-50);
    visibility: hidden;
}

.zm-actions-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.zm-actions {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    width: 80%;
    height: 2rem;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
}

.action-play {
    color: var(--white);
    height: 0;
    visibility: hidden;
    font-size: 2rem;
}

.song-prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-right: 10px;
    color: var(--text-secondary);
    font-weight: 700;
}

.chart-song-item .number {
    min-width: 4rem;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.list-zm .chart-song-item .media-left,
 .list-zm .chart-song-item .media-right {
    flex-grow: 1;
}

.song-prefix .sort {
    width: 1.8rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.is-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.is-center .show-all {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem 2.5rem;
    border: 1px solid var(--white);
    border-radius: 2rem;
    color: var(--white);
}

.week-chart-section {
    padding-top: 4rem;
    margin: 0 auto;
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
}

.week-chart-section .bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.43/static/media/week-chart-bg.edf332e5.jpg) top/cover no-repeat;
    filter: grayscale(1);
    margin: 0 -6rem;
}

.week-chart-section .bg-alpha {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--chart-bg-img-alpha);
    margin: 0 -6rem;
}

.section-header .title {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--white);
    margin-top: 0;
}
.section-header a:hover, .box-header a:hover {
    text-decoration: none;
}

.week-chart-section .week-chart-box {
    border-radius: 1.6rem;
    background-color: var(--sidebar-bg);
    padding: 1rem 1rem;
    position: relative;
}

.box-header a {
    color: var(--white);
}


.week-chart-section .week-chart-box .box-header .zm-btn {
    height: 0;
    color: var(--purple-primary);
}

.week-chart-section .week-chart-box .box-header {
    display: flex;
    flex-direction: row;
    padding: 0 0 1rem 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    align-items: baseline;
}


@media screen and (max-width: 1290px) {
    .column-list {
      width: 100%;
    }
}

@media screen and  (min-width: 1290px) {
    .column-list {
      width: calc(100% / 3);
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.column-list {
    padding: 0 1.2rem;
    margin-bottom: 3rem;
}

.list-zm .chart-song-item {
    border-bottom: none;
}

.end {
    height: 5rem;
    width: 100%;
}

.zm-player {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.now-playing {
    position: fixed;
    width: 100%;
    bottom: 0;
    user-select: none;
    background-color: var(--layout-bg);
    height: 8rem;
}

.player-control {
    display: flex;
    height: 8rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 0 2rem;
}

.player-control-left .media {
    width: 100%;
    align-items: center;
    display: flex;
    text-align: left;
}

.player-control-left .media-song {
    display: flex;
    padding: 0;
}

.player-control-left .song-img {
    width: 6rem;
    margin-right: 1rem;
    position: relative;
}

.player-control-left .right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 2rem;
    font-size: 1.4rem;
}
.player-control-left .media-song .right {
    justify-content: center;
}

.player-control-left img {
    width: 100%;
}

.player-control-left {
    width: 85rem;
}

.icon-left {
    margin-left: 2rem;
    display: flex;
}

.level-center {
    width: 100%;
    padding-top: 1rem;
}

.level-item .left {
    text-align: right;
    margin-right: 10px;
}

.level-item .right {
    margin-left: 10px;
}

.level-item .time {
    min-width: 4rem;
    font-size: 1.4rem;
    color: var(--player-text);
    font-weight: 500;
}

.level-center .button {
    color: var(--white);
}

.bar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.level-center .zm-duration-bar {
    width: 100%;
    cursor: pointer;
    position: relative;
    height: 3px;
    background-color: var(--alpha-bg);
    top: 6px;
    border-radius: 5px;
}

@keyframes changewidth {
    from {
        width: 1%;
    }

    to {
        width: 100%;
    }
}

.level-item .zm-duration-bar .zm-slider-bar {
    width: 25%;
    height: 3px;
    background-color: var(--white);
    animation-duration: 10s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.zm-duration-bar:hover {
    height: 5px;
}

.zm-duration-bar:hover .zm-slider-handle {
    visibility: visible;
}

.zm-duration-bar:hover .zm-slider-bar {
    height: 5px;
}

.zm-slider-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    left: 25%;
    top: 25%;
    transform: translate(-25%, -25%);
    border-radius: 50%;
    visibility: hidden;
}

.level-item {
    display: flex;
    justify-content: center;
}

.player-control-right {
    justify-content: end;
    align-items: center;
    top: 2rem;
}

.player-control-right .divide {
    height: 3rem;
    width: 2px;
    background-color: var(--border-player);
    margin: 0 2rem;
}

.player-control-right .button,
.player-control-left .button {
    font-size: 1.6rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin: 0;
}

.player-control-right .button:hover,
.player-control-left .button:hover {
    background-color: var(--alpha-bg);
}