:root {
    --layout-bg: #170f23;
    --plus-package: #8e4cff;
    --premium-package: #dca519;
    --white: #fff;
    --black: #32323d;
    --yellow: #f8e71c;
    --blue: #4a90e2;
    --green: #50e3c2;
    --red: #e35050;
    --gray: #dbdbdb;
    --dark-alpha-10: rgba(0, 0, 0, 0.1);
    --dark-alpha-50: rgba(0, 0, 0, 0.5);
    --dark-alpha-80: rgba(0, 0, 0, 0.8);
    --sidebar-bg: hsla(0, 0%, 100%, 0.05);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    display: block;
    background-color: green;
}

body {
    font-size: 1.6rem;
    font-family: inherit;
    color: var(--white);
    background-color: var(--layout-bg);
    overflow: hidden;
}

.layout.player {
    height: calc(100vh - 9rem);
}

.layout {
    display: flex;
    width: 100%;
    min-width: 70rem;
    background-color: var(--layout-bg);
}

.sidebar {
    width: 25rem;
    height: 100%;
    background-color: var(--sidebar-bg);
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.zm-header {
    display: flex;
    position: fixed;
    align-items: center;
    padding: 0 5rem;
    height: 7rem;
    left: 25rem;
    width: calc(100% - 25rem);
    min-width: 70rem;
    z-index: 1;

}

.zm-header .lever {
    display: flex;
    position: relative;
    height: 4rem;
    width: 100%;
}
.container {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
    position: relative;
}

main.section {
    position: absolute;
    inset: 0px;
    overflow: hidden scroll;
    padding: 0 5rem;

}

main.section>.contents {
    margin-top: 7rem;
    height: 100vh;
}

.now-playing {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 9rem;
    height: 10rem;
}

.player-control {
    height: 9rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--layout-bg);
    padding: 0 2rem;
}